.bed-container{
    margin: 10%;
    width: 180px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    height: 15.8vw;
    border-radius: 10px;
    font-family: sans-serif;
    border: none;
    -webkit-box-shadow: 10px 6px 30px -8px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 6px 30px -8px rgba(0,0,0,0.75);
    box-shadow: 10px 6px 30px -8px rgba(0,0,0,0.75);
}
.bed-container-red{
    margin: 10%;
    width: 180px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    height: 15.8vw;
    border-radius: 10px;
    font-family: sans-serif;
    border: none;
    -webkit-box-shadow: 10px 6px 30px -8px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 6px 30px -8px rgba(0,0,0,0.75);
    box-shadow: 10px 6px 30px -8px rgba(0,0,0,0.75);

}
.bed-container:hover{
    outline: 2px solid rgb(0, 158, 18);
    transition: outline 0s ease 0s;

}
.bed-container-red:hover{
    outline: 2px solid rgb(255, 0, 0);
    transition: outline 0s ease 0s;

}

.green{
    justify-content: flex-end;
    background-color: green;
    height: 20px;
    width: 20px;
    border-radius: 100%;
}

.red{
    justify-content: flex-end;
    background-color: red;
    height: 20px;
    width: 20px;
    border-radius: 100%;
}


@media (max-width:1360px) {
   .bed-contianer{
    margin: 10%;
    width: 180px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    border: 2px solid black;
    height: 20vw;
    border-radius: 10px;
   }
}
