.card {
    width: 150px; 
    height: 150px; 
    border: 1px solid #ddd; 
    border-radius: 20px; 
    padding: 20px; 
    display: flex; 
    align-items: center; 
}

.card-content {
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    justify-content: center; 
    text-align: center; 
}

h1, h2 {
    margin: 0; 
}
.bar{
    width: 100px;
    height: 10px;
    background-color: brown;
    margin-top: 10px ;
    
}
.main{
    border: solid #005395 ;
    width: 175px;
    height: 175px;

    align-items: center;
}
.wd-num{
    color: blue;
}

.main{
    transition: all 0.3s;
}
.main:hover{
    background-color: #005395;
    transform: scale(1.15);
}
