.card {
    width: 150px; /* Set the width of the card */
    height: 150px; /* Set the height of the card */
    border: 1px solid #ddd; /* Add border */
    border-radius: 20px; /* Add border radius */
    padding: 20px; /* Add padding */
    display: flex; /* Use flexbox */
    align-items: center; /* Center items vertically */
}

.card-content {
    display: flex; /* Use flexbox for content */
    flex-direction: column; /* Arrange content vertically */
    align-items: center; /* Center items horizontally */
    justify-content: center; /* Center items vertically */
    text-align: center; /* Center text */
}

h1, h2 {
    margin: 0; /* Remove default margin */
}
.bar{
    width: 100px;
    height: 10px;
    background-color: brown;
    margin-top: 10px ;
    
}
.main{
    border: solid #005395 ;
    width: 175px;
    height: 175px;

    align-items: center;
}
.wd-num{
    color: blue;
}

.main{
    transition: all 0.3s;
}
.main:hover{
    background-color: #005395;
    transform: scale(1.15);
}
