@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

:root {
  font-family: 'Poppins', sans-serif;
  --main-btn-blue: #234DFF;
  --secondary-dark-blue: #005395;
  --secondary-light-blue: #0A63C0;
  --background-color: linear-gradient(to right, #234DFF 40%, #5776FE 70%);
}